@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Message"]</h3>
<p>@ViewBag.AccessKey</p>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <h4> What-If Analysis</h4>
            <div id="slider">
                <div id="custom-handle" class="ui-slider-handle"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top:15px">
                <div id="reportContainer"></div>
            </div>
        </div>
    </div>
</div>
<footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <h5 class="text-center text-info" id="footer">&copy; 2017 Thomas Schwarz</h5>
    </div>
</footer>

@section Scripts {
<script>

        $(function () {
            var handle = $("#custom-handle");
            $("#slider").slider({
                min: 1,
                max: 140,
                step: 1,
                create: function () {
                    handle.text($(this).slider("value"));
                },
                slide: function (event, ui) {
                    handle.text(ui.value);
                    filter([ui.value]);
                }
            });

            (function () {
                var embedToken = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ2ZXIiOiIwLjIuMCIsImF1ZCI6Imh0dHBzOi8vYW5hbHlzaXMud2luZG93cy5uZXQvcG93ZXJiaS9hcGkiLCJpc3MiOiJQb3dlciBCSSBOb2RlIFNESyIsIndjbiI6InBiaWUtdHdzMDEiLCJ3aWQiOiI5NDU5ZjM1Zi1iMjI0LTRmYmQtOGJjYS01NDZlNjQ4ODEzZmYiLCJyaWQiOiI3MzFjOWNjYy1mYjY4LTQ2ZmUtYTkwNC02MTMyNDhhMzZiYWUiLCJuYmYiOjE0ODQwOTM2MDMsImV4cCI6MTQ4NDA5NzIwM30.iT7csonci-zDKAbuhLhI3F-uzI4-jWsWlUtAnmWHkHU';
                var reportId = '731c9ccc-fb68-46fe-a904-613248a36bae';
                var embedUrl = 'https://embedded.powerbi.com/appTokenReportEmbed?reportId=' + reportId;

                var config = {
                    type: 'report',
                    accessToken: embedToken,
                    embedUrl: embedUrl,
                    id: reportId,
                    settings: {
                        filterPaneEnabled: false,
                        navContentPaneEnabled: true
                    }
                };

                powerbi.embed($('#reportContainer')[0], config);
                // powerbi.embed(document.getElementById('reportContainer'), config);

            })();
        });

        function filter(values) {
            const filter = {
                $schema: "http://powerbi.com/product/schema#basic",
                target: {
                    table: "DimFilter",
                    column: "FilterList"
                },
                operator: "In",
                values: values
            };

            var report = powerbi.embeds[0];
            if (report) {
                report.setFilters([filter])
                    .then(function (result) {
                        console.log(result);
                    })
                    .catch(function (errors) {
                        console.log(errors);
                    });
            }
        }

</script>

}